@import "./../functions";

$card-spacing: get-spacing("2x");

.card {
  display: flex;
  flex-direction: column;
  box-shadow: get-shadow();
  border-radius: 4px;
  overflow: hidden;

  &.card--md {
    box-shadow: get-shadow();
  }

  .card-image {
    height: 300px;
    object-fit: cover;
    overflow: hidden;
  }

  .card-title {
    font-size: get-font-size("lg");
    font-weight: bold;
    padding: $card-spacing;
  }

  .card-article {
    font-size: get-font-size("md");
    padding: $card-spacing;
  }
}
