<p class="font-logo text-xl">A Visual Type Scale</p>
<p class="text-xl">A Visual Type Scale</p>
<p class="text-lg">A Visual Type Scale</p>
<p class="text-md">A Visual Type Scale</p>
<p class="text-sm">A Visual Type Scale</p>
<p class="text-xs">A Visual Type Scale</p>

<h1>Heading 1</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada
  porttitor mi ac hendrerit. Nullam malesuada dui et orci gravida, sagittis
  vestibulum quam pretium. Mauris consectetur, velit blandit porttitor cursus,
  nunc nisi finibus tortor, pellentesque ultrices eros velit malesuada ante.
</p>
<h2>Heading 2</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada
  porttitor mi ac hendrerit. Nullam malesuada dui et orci gravida, sagittis
  vestibulum quam pretium. Mauris consectetur, velit blandit porttitor cursus,
  nunc nisi finibus tortor, pellentesque ultrices eros velit malesuada ante.
</p>
<h3>Heading 3</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada
  porttitor mi ac hendrerit. Nullam malesuada dui et orci gravida, sagittis
  vestibulum quam pretium. Mauris consectetur, velit blandit porttitor cursus,
  nunc nisi finibus tortor, pellentesque ultrices eros velit malesuada ante.
</p>
<h4>Heading 4</h4>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada
  porttitor mi ac hendrerit. Nullam malesuada dui et orci gravida, sagittis
  vestibulum quam pretium. Mauris consectetur, velit blandit porttitor cursus,
  nunc nisi finibus tortor, pellentesque ultrices eros velit malesuada ante.
</p>
<h5>Heading 5</h5>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada
  porttitor mi ac hendrerit. Nullam malesuada dui et orci gravida, sagittis
  vestibulum quam pretium. Mauris consectetur, velit blandit porttitor cursus,
  nunc nisi finibus tortor, pellentesque ultrices eros velit malesuada ante.
</p>
<h6>Heading 6</h6>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada
  porttitor mi ac hendrerit. Nullam malesuada dui et orci gravida, sagittis
  vestibulum quam pretium. Mauris consectetur, velit blandit porttitor cursus,
  nunc nisi finibus tortor, pellentesque ultrices eros velit malesuada ante.
</p>

<h1>Colors</h1>
<h2>Primary Colors</h2>
<div class="grid">
  <div class="bg-primary-100 shade-box"></div>
  <div class="bg-primary-200 shade-box"></div>
  <div class="bg-primary-300 shade-box"></div>
  <div class="bg-primary-400 shade-box"></div>
  <div class="bg-primary-500 shade-box"></div>
  <div class="bg-primary-600 shade-box"></div>
  <div class="bg-primary-700 shade-box"></div>
  <div class="bg-primary-800 shade-box"></div>
  <div class="bg-primary-900 shade-box"></div>
</div>

<h2>Secondary Colors</h2>
<div class="grid">
  <div class="bg-secondary-100 shade-box"></div>
  <div class="bg-secondary-200 shade-box"></div>
  <div class="bg-secondary-300 shade-box"></div>
  <div class="bg-secondary-400 shade-box"></div>
  <div class="bg-secondary-500 shade-box"></div>
  <div class="bg-secondary-600 shade-box"></div>
  <div class="bg-secondary-700 shade-box"></div>
  <div class="bg-secondary-800 shade-box"></div>
  <div class="bg-secondary-900 shade-box"></div>
</div>

<h1>Spacing</h1>
<h2>Paddings</h2>
<div class="grid-spacing">
<div class="box padding-0.5">Lorem ipsum</div>
<div class="box padding-1">Lorem ipsum</div>
<div class="box padding-2">Lorem ipsum</div>
<div class="box padding-3">Lorem ipsum</div>
<div class="box padding-4">Lorem ipsum</div>
<div class="box padding-6">Lorem ipsum</div>
<div class="box padding-8">Lorem ipsum</div>
<div class="box padding-12">Lorem ipsum</div>
<div class="box padding-16">Lorem ipsum</div>
</div>

<p-button label="Click me!"></p-button>

<p-tag value="Primary"></p-tag>
<p-tag severity="success" value="Success"></p-tag>
<p-tag severity="info" value="Info"></p-tag>
<p-tag severity="warning" value="Warning"></p-tag>
<p-tag severity="danger" value="Danger"></p-tag>
