<header>
  <h1 class="title font-logo">ASUIS</h1>
  <h2 class="subtitle">Another simple ui system - experimental demonstration</h2>
</header>
<div class="content">
  <h1>General</h1>
  <section>
    <h2>Font scaling</h2>
    <p class="text-xl">The quick brown fox jumps over the lazy dog.</p>
    <p class="text-lg">The quick brown fox jumps over the lazy dog.</p>
    <p class="text-md">The quick brown fox jumps over the lazy dog.</p>
    <p class="text-sm">The quick brown fox jumps over the lazy dog.</p>
    <p class="text-xs">The quick brown fox jumps over the lazy dog.</p>
  </section>
  <section>
    <h2>Colors</h2>
    <p>Articles are achieved by defining color palettes for primary, secondary and surface colors. While the surface colors
      are component-based colors, the primary and secondary colors are created with googles colors philosophy in mind.</p>
    <h3>Primary Colors</h3>
    <div class="grid">
      <div class="bg-primary-100 shade-box"></div>
      <div class="bg-primary-200 shade-box"></div>
      <div class="bg-primary-300 shade-box"></div>
      <div class="bg-primary-400 shade-box"></div>
      <div class="bg-primary-500 shade-box"></div>
      <div class="bg-primary-600 shade-box"></div>
      <div class="bg-primary-700 shade-box"></div>
      <div class="bg-primary-800 shade-box"></div>
      <div class="bg-primary-900 shade-box"></div>
    </div>
    <h3>Secondary Colors</h3>
    <div class="grid">
      <div class="bg-secondary-100 shade-box"></div>
      <div class="bg-secondary-200 shade-box"></div>
      <div class="bg-secondary-300 shade-box"></div>
      <div class="bg-secondary-400 shade-box"></div>
      <div class="bg-secondary-500 shade-box"></div>
      <div class="bg-secondary-600 shade-box"></div>
      <div class="bg-secondary-700 shade-box"></div>
      <div class="bg-secondary-800 shade-box"></div>
      <div class="bg-secondary-900 shade-box"></div>
    </div>
  </section>

  <section>
    <h2>Spacing</h2>
    <h3>Paddings</h3>
    <div class="grid-spacing">
      <div class="box padding-0.5">padding-0.5</div>
      <div class="box padding-1">padding-1</div>
      <div class="box padding-2">padding-2</div>
      <div class="box padding-3">padding-3</div>
      <div class="box padding-4">padding-4</div>
      <div class="box padding-6">padding-6</div>
      <div class="box padding-8">padding-8</div>
      <div class="box padding-12">padding-12</div>
      <div class="box padding-16">padding-16</div>
    </div>
  </section>

  <section>
    <h1>PrimeNG</h1>
    <h2>Tags</h2>
    <p-tag value="Primary"></p-tag>
    <p-tag severity="success" value="Success"></p-tag>
    <p-tag severity="info" value="Info"></p-tag>
    <p-tag severity="warning" value="Warning"></p-tag>
    <p-tag severity="danger" value="Danger"></p-tag>
    <h2>Buttons</h2>
    <p-button label="Click me!"></p-button>
  </section>
</div>

