@import "./styles/theme/theme";

body {
  padding: 4rem;
}

.shade-box {
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 4px rgba(#333, 0.2);
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  column-gap: unset;
}

.grid-spacing {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: unset;

  .box {
    width: 100px;
    height: 200px;
    box-shadow: 1px 1px 4px rgba(#333, 0.2);
    border-radius: 10px;
    background: white;
  }
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: get-primary-color();
  color: white;
  border-radius: 4px;
  padding: get-spacing("1x") get-spacing("4x");
  cursor: pointer;
}
