@import "palette";
@import "typography";
@import "spacing";
@import "functions";
@import "utility";
@import "normalize";

* {
  font-size: #{$base-font-size};
  font-family: get-font-family("global"), serif;
  line-height: get-line-height("md");
}

body {
  background: white;
}
