@use "sass:map";

@import "fonts";

/// basic font size, which scales up the whole application
$base-font-size: 18px;

/// Generated font-sizes via https://type-scale.com.
$font-size: (
  "xl": 1.563rem,
  "lg": 1.25rem,
  "md": 1rem,
  "sm": 0.8rem,
  "xs": 0.64rem,
);

/// register new font families here and use it via "get-font-family" mixin
$font-family: (
  "global": "Arial",
  "logo": "Times new Roman",
);

/// Line heights based on best practices
$line-height: (
  "sm": 1.4,
  "md": 1.5,
  "lg": 1.6,
);
