@use "sass:map";

/** Generated font-sizes via https://type-scale.com */

$base-font-size: 20px;

$font-size: (
  "xl": 1.563rem,
  "lg": 1.25rem,
  "md": 1rem,
  "sm": 0.8rem,
  "xs": 0.64rem,
);

$font-family: (
  "global": "Arial",
  "logo": "Arial",
);

$line-height: (
  "sm": 1.4,
  "md": 1.5,
  "lg": 1.6,
);
